* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}

.container {
  width: 100vw;
  margin: auto;
  /* border-top: 10px solid #fefffc; */
  padding: 10px;
  /* border-radius: 8px; */
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
  background-color: floralwhite;
}

header {
  /* border: 2px solid rgb(51, 52, 53); */
  background-color: #2c4b3d;
  position: relative;
  padding: 10px 40px;
  margin-bottom: 40px;
  display: flex;
}

h1 {
  color: rgb(202, 214, 89);
  text-transform: uppercase;
  font-style: italic;
  margin-right: 50px;
  padding: 20px;
}
nav {
  display: flex;
  font-size: 16px;
}

/* Styling links */

a:visited {
  color: #e6cda7af;
}

a:hover {
  color: rgb(223, 201, 76);
  font-weight: bold;
  text-decoration: underline rgb(223, 201, 76);
}

a:active {
  /* background-color: black; */
  font-style: italic;
  color: #e6cda7af;
}
nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-style: italic;
  color: #e6cda7af;
}

.table-wrapper {
  margin: 20px;
  align-items: center;
}

.table-section {
  align-items: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

button {
  padding: 15px 25px;
  margin: 10px;
  background-color: rgb(202 214 89 / 77%);
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.466);
  box-shadow: darkgrey;
  cursor: pointer;
  color: rgb(51 52 53);
  font-weight: bold;
  transition-duration: 0.3s;
}

button:hover {
  background-color: #4caf50; /* Green */
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

footer {
  border-top: 2px solid black;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-content: center;
  background-color: darkslategrey;
}

p {
  margin: 10px;
  padding: 10px;
}

/*Table Style*/

.table th {
  position: relative;
}
.resizer:hover,
.resizing {
  border-right: 2px solid rgb(44, 128, 51);
}
.table {
  border-collapse: collapse;
  background-color: azure;
  text-align: center;
}
.table,
.table th,
.table td {
  border: 1px solid rgb(44 128 51);
}
.table th,
.table td {
  padding: 0.7rem;
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  cursor: col-resize;
  user-select: none;
}

.resizable {
  border: 1px solid gray;
  height: 100px;
  width: 100px;
  position: relative;
}

thead.th-head {
  background-color: #cddfff;
  font-size: large;
}
